<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vipicu.demo.cloud.db.sqlite.mapper.AuthoritiesMapper">
  <resultMap id="BaseResultMap" type="com.vipicu.demo.cloud.db.sqlite.entity.Authorities">
    <!--@mbg.generated-->
    <!--@Table AUTHORITIES-->
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="AUTHORITY" jdbcType="VARCHAR" property="authority" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    USERNAME, AUTHORITY
  </sql>
</mapper>