<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vipicu.demo.cloud.service.resource03.app.mapper.SysResourceMapper">
  <resultMap id="BaseResultMap" type="com.vipicu.demo.cloud.service.resource03.api.entity.SysResource">
    <!--@mbg.generated-->
    <!--@Table main.sys_resource-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="redirect" jdbcType="VARCHAR" property="redirect" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="hidden" jdbcType="BOOLEAN" property="hidden" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_id, create_by, create_time, update_by, update_time, deleted, pid, title, 
    "alias", "type", code, redirect, "path", icon, "status", sort, component, color, 
    hidden
  </sql>
</mapper>