<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vipicu.demo.cloud.service.resource03.app.mapper.SysRoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.vipicu.demo.cloud.service.resource03.api.entity.SysRoleResource">
    <!--@mbg.generated-->
    <!--@Table main.sys_role_resource-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, resource_id
  </sql>
</mapper>