<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vipicu.demo.cloud.service.resource03.app.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.vipicu.demo.cloud.service.resource03.api.entity.SysUser">
    <!--@mbg.generated-->
    <!--@Table main.sys_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="phone_verified" jdbcType="INTEGER" property="phoneVerified" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="email_verified" jdbcType="INTEGER" property="emailVerified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_id, create_by, create_time, update_by, update_time, deleted, username, 
    "password", salt, real_name, nick_name, avatar, sex, phone, phone_verified, email, 
    email_verified, "status"
  </sql>
</mapper>